{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="about-container">
        <h1>Maintenance Master</h1>
        <p style='color:white; font-size: 20px;'>Maintenance Master is designed to meet the needs for a robust inventory of heavy machinery. The application offers monitored/coordinated maintenance of all of your business's machinery. Designed with with the manufacturing mindset of Kisan an other key manufacturing frameworks. Let Maintenance Master carry the load of your machines well being and productivity.</p>
        
            <div class="developer-container">
                <h3>About the Developer</h3>
                <img src="https://avatars.githubusercontent.com/u/77864402?v=4" width="100" height="100">
                    <div class="developer-writeup">
                        <p>I am a process driven full stack software engineer. I strive to improve and implement meaningful solutions. I am driven by a desire to overcome obstacles, the more complex of a problem the better. Working in the Insurance industry gave me the ability to overcome stressful, time sensitive situations that often required meaningful group efforts to accomplish desired outcomes. This business evolved ability has empowered me to be successful in the Tech Industry.</p>
                    </div>
                    <FORM>
                        <INPUT TYPE="button" VALUE="Email Me" onClick="parent.location='mailto:scott95100@gmail.com?subject=Maintenance Master'">
                    </FORM>
                <div class="link-container">
                    <a href='https://github.com/scott95100'>
                        <button style="font-size:24px">Check Out My Github | <i class="fa fa-github"></i></button>
                    </a>
                    <p>  -----  </p>
                    <a href='https://www.linkedin.com/in/scott-sherwood-515114204/'>
                        <button style="font-size:24px">Check Out My LinkedIn | <i class="fa fa-linkedin"></i></button>
                    </a>
                </div>
            </div>
    </div>
{% endblock %}